<ion-view class="register">
	<div class="register_tu1">
		<span class="fanhui" ng-click="fanhui()">←_←</span>
		<img src="img/img11.png"/>
	</div>
	<div class="register_input">
		账号：<input type="text" name="username" id="username" class="register_username" placeholder="请注册你的账号" ng-model="data.username"/>
	</div>
	<div class="register_input">
		密码：<input type="password" name="psw" id="psw" class="register_psw" placeholder="请注册你的密码" ng-model="data.psw"/>
	</div>
	
	<button class="register_btn" ng-click="register()">注册</button>
</ion-view>